@charset "windows-1256";
.menu_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.menu_container .menu-logo{
	width: 15%;
}

.menu_container .menu-logo img{
	width: 100%;
}

.menu_container .menu_items{
	padding: 10px;
	border-bottom: 5px solid blue;
}

#submitBtn1{
	background-color: blue;
	color: white;
}

.menu_container .menu_items a{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px;
	transition: .3s ease-in-out;
	font-size: 15px;
	text-decoration:none;
	margin-top: 5px;
	color: darkblue;
}

.menu_container .menu_items a:hover{
	background-color: rgb(0, 128, 192);
	color: white;	
}

/* title */
.title span{
	font-weight: bold;
	font-size: 20px;
	padding: 8px;
	color: darkblue;
	margin-left: 125px
}

.title .line{
	width: 220px;
	height: 5px;
	background-color: blue;
	margin-left:120px;
	border-radius: 10px;
}
/* title */

/* main content */
.main_content{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.main_content form .inputField{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_content form .inputField1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_content form .inputField1 .button input{
	background-color: blue;
	color: white;
	padding: 8px 10px;
	border-radius: 12px;
	cursor: pointer;
	border: none;
	outline: none;
	width: 100%;
	transition: .3s ease-in-out;
	margin-left: 5px;
}

.main_content form .inputField1 .button input:hover{
	background-color: darkblue;
	
}

.main_content form .inputField input{
	border-color: blue;
	border-radius:20px ;
	margin-left: 5px;
	padding: 5px 0;
}

.main_content form .inputField select{
    border: 2px solid blue;
    border-radius: 20px;
    margin-left: 5px;
    padding: 7px 12px;
}

.main_content form .buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_content form .buttons input{
	background-color: blue;
	color: white;
	padding: 8px 10px;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	width: 30%;
	transition: .3s ease-in-out;
}

.main_content form .buttons input:hover{
	background-color: darkblue;
}

.main_content form .button1 input{
	background-color: blue;
	color: white;
	padding: 8px 15px;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: .3s ease-in-out;
}

.main_content form .button1{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_content form .button1 input:hover{
	background-color: darkblue;
	
}

.main_content .buttonTable input{
	background-color: blue;
	color: white;
	padding: 8px 20px;
	margin-top: 10px;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: .3s ease-in-out;
}

.main_content .buttonTable input:hover{
	background-color: darkblue;
}

.main_content .buttonTable{
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* main content */

/* table */

table {
	width:100%
}

table tr th, tr td{
	padding: 10px;
}

table tr th{
	color: blue;
	font-weight: bolder;
}

 th{color:rgb(0,128,225);
      background-color:rgb(224,224,224)
 }

.tbody {
	width: 40%;
    height: 250px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.tbodyNotif {
	width: 100%;
    height: 250px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.tbodyAppro {
	width: 100%;
    height: 250px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

/* table */